html {
    scroll-behavior: smooth;
}

/* portfolio css */

#portfolio {
    width: 100%;
    padding: 150px 30px 10px 30px;
    text-align: center;
    background: #f9f9f9;
    /* display: none; */
}

#portfolio .max-width {
    max-width: 1200px;
    height: 29rem;
    margin: 60px auto;
    padding: 20px;
    background-color: #ffffff;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, .1);
}

#portfolio .max-width .col-md-7 {
    /* border: 1px solid rgb(228, 228, 228); */
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, .1);
    height: 400px;
    overflow: hidden;
    padding: 12px;
    /* margin-left: 10px; */
}

#portfolio .max-width .col-md-7 img {
    object-fit: cover;
    border-radius: 10px;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}

#portfolio .max-width .col-md-5 p {
    font-size: 18px;
    font-family: 'Poppins', sans-serif;
    font-weight: 500;
    color: #767676;
}

#portfolio .max-width .col-md-5 h2 {
    font-size: 20px;
    font-family: 'Poppins', sans-serif;
    font-weight: 600;
}

#portfolio .max-width .col-md-5 {
    padding: 10px 30px 10px 30px
}

#portfolio .max-width .btn-group {
    display: flex;
    justify-content: center;
    gap: 4px;
    flex-wrap: wrap;
}

#portfolio .max-width div a {
    font-family: 'Poppins', sans-serif;
    font-weight: 500;
    font-size: 18px;
    text-transform: capitalize;
    padding-left: 12px;
    color: #000000;
    text-decoration: none;
}

#portfolio .max-width div a:hover {
    color: rgb(30, 177, 245);
}

#portfolio .max-width .btn-group button {
    padding: 12px 14px;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, .1);
    border: none;
    text-transform: uppercase;
    font-family: 'Poppins', sans-serif;
    font-weight: 500;
    border-radius: 5px;
    font-size: 16px;
}


#portfolio h1 {
    font-weight: 600;
    color: rgb(30, 177, 245);
    font-size: 22px;
    font-family: 'Poppins', sans-serif;
    text-transform: uppercase;
    letter-spacing: 1px;
}

#portfolio .head {
    font-size: 25px;
    color: #272626;
    margin: 10px auto 25px;
    font-family: 'Poppins', sans-serif;
    font-weight: 700;

}

.image-container {
    overflow: hidden;
    height: 100%;
    /* Ensure the image container takes the full height */
}

.img-fluid {
    transition: transform 1.9s ease-in-out;
    /* Add a smooth transition effect */
}

.img-fluid:hover {
    transform: translateY(-50%);
    /* Adjust the value based on how much you want it to scroll up */
}



@media (max-width:768px) {

    #portfolio {
        padding: 80px 20px 20px 20px;
    }

    #portfolio .head {
        font-size: 19px;
    }

    #portfolio h1 {
        font-size: 18px;
        font-weight: 600;
    }

    #portfolio p {
        font-size: 14px;
        font-weight: 400;

    }

    #portfolio h1 em {
        color: #7900FF;
        font-style: normal;
    }

    #portfolio .projects-btn {

        align-items: center;
        max-width: 350px;
        margin: 50px auto;

    }

    #portfolio section .card {
        padding: 0px;
        border: none;
        border-radius: 10px;
        margin-top: 35px;
    }

    #portfolio .project-nav {
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
        padding: 10px 10px;
        /* background-color: #ffffff; */
    }

    #portfolio .max-width {
        height: 45rem;
        padding: 25px;
    }

    #portfolio .max-width .row {
        /* height: 45rem; */
        display: flex;
        flex-direction: column;
    }


    #portfolio .max-width .col-md-7 {
        height: 260px;
        overflow: hidden;
    }



    #portfolio .max-width .col-md-5 {
        padding: 30px 10px 10px 10px
    }

    #portfolio .max-width .col-md-5 p {
        font-size: 15px;
    }

    #portfolio .max-width .btn-group button {
        padding: 11px 14px;
        background-color: #fff;
        box-shadow: 0 0 10px rgba(0, 0, 0, .1);
        border: none;
        text-transform: capitalize;
        font-family: 'Poppins', sans-serif;
        font-weight: 500;
        border-radius: 5px;
        font-size: 15px;
    }

    #portfolio  #odd-section .row{
        display: flex;
        flex-direction: column-reverse;
    }

}